<h1>Data Processing Demo</h1>

<ol>
    <li>Download csv files from Kaggle.</li>
    <li>Load the data into a pandas dataframe.</li>
    <li>Analyze the data using scipy.</li>
    <li>Display the data using matplotlib and seaborn.</li>
</ol>

In [3]:
import pandas as pd
import scipy
import matplotlib.pyplot as plt
import requests
import sklearn as sk
import seaborn

In [4]:
#api_url = "https://www.kaggle.com/api/v1/competitions/list"
barcelona_rent = pd.read_csv('KaggleData/Barcelona_rent_price.csv')
barcelona_immigration = pd.read_csv('KaggleData/Immigration.csv')
barcelona_population = pd.read_csv('KaggleData/population.csv')
barcelona_unemployment = pd.read_csv('KaggleData/unemployment.csv')
barcelona_deaths = pd.read_csv('KaggleData/deaths.csv')
barcelona_births = pd.read_csv('KaggleData/births.csv')

<h3>Barcelona Rent Dataset</h3>

In [19]:
print("Rent dataset: ", barcelona_population.shape)
barcelona_population.head()

Rent dataset:  (70080, 8)

,Year,District.Code,District.Name,Neighborhood.Code,Neighborhood.Name,Gender,Age,Number
0,2017,1,Ciutat Vella,1,el Raval,Male,0-4,224
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Male,0-4,50
2,2017,1,Ciutat Vella,3,la Barceloneta,Male,0-4,43
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,0-4,95
4,2017,2,Eixample,5,el Fort Pienc,Male,0-4,124

In [42]:
rent_by_district = barcelona_rent.groupby('District').mean()
rent_by_year = barcelona_rent.groupby('Year').mean()
rent_by_neighbourhood = barcelona_rent.groupby('Neighbourhood').mean()

immigration_by_neighbourhood = barcelona_immigration.groupby('Neighbourhood').sum()
population_by_neighbourhood = barcelona_population.groupby('Neighborhood.Code').sum()
unemployment_by_neighbourhood = barcelona_unemployment.groupby('Neighborhood Code').sum()
births_by_neighbourhood = barcelona_births.groupby('Neighborhood Code').sum()
deaths_by_neighbourhood = barcelona_deaths.groupby('Neighborhood.Code').sum()

codes_to_names = barcelona_population[['Neighborhood.Code', 'Neighborhood.Name']].set_index('Neighborhood.Code')
print(codes_to_names.head())

print(rent_by_neighbourhood.head())
print(population_by_neighbourhood.head())
print(unemployment_by_neighbourhood.head())
print(births_by_neighbourhood.head())
print(deaths_by_neighbourhood.head())

                                       Neighborhood.Name
Neighborhood.Code
1                                               el Raval
2                                         el Barri Gòtic
3                                         la Barceloneta
4                  Sant Pere, Santa Caterina i la Ribera
5                                          el Fort Pienc
                         Year  Trimester       Price
Neighbourhood
Baro de Viver     2017.100000   2.300000  193.152000
Can Baro          2017.764706   2.441176  349.552206
Can Peguera       2015.000000   2.400000  143.020000
Canyelles         2017.781250   2.500000  344.883906
Ciutat Meridiana  2017.764706   2.441176  239.669265
                      Year  District.Code  Number
Neighborhood.Code
1                  1934400            960  238168
2                  1934400            960   79161
3                  1934400            960   75656
4                  1934400            960  112611
5                  1934400           1920  158444
                     Year  District Code  Number
Neighborhood Code
1                  386952            192  268712
2                  386952            192   73196
3                  386952            192   84506
4                  386952            192  116970
5                  386952            384  109546
                    Year  District Code  Number
Neighborhood Code
1                  20150             10    2235
2                  20150             10     498
3                  20150             10     486
4                  20150             10     854
5                  20150             20    1238
                     Year  District.Code  Number
Neighborhood.Code
1                  127008             63     974
2                  127008             63     385
3                  127008             63     545
4                  127008             63     531
5                  127008            126     974