In [22]:
#Write a Python code to return your Python version
import sys
print(sys.version)

3.9.13 (main, Aug 25 2022, 23:51:50) [MSC v.1916 64 bit (AMD64)]

In [31]:
#Write a Python code to declare variable id="513".
id = "513"

#Print the following statement "customer id =513". [Don't use print("customer id
print("customer id =%s" % id)
print("customer id =", id)
print("customer id =" + id)

customer id =513
customer id = 513
customer id =513

In [33]:
#Run the following statement, why there is an error
try:
    id=id+1
except TypeError as ex:
    print(ex)

can only concatenate str (not "int") to str

In [34]:
#Convert the variable id into an integer, increment it by 1.
#Assign the result to variable new_id.
#Print the new_id
new_id = int(id) + 1
print("customer id =%d" % new_id)
print("customer id =", new_id)
print("customer id =" + str(new_id))

customer id =514
customer id = 514
customer id =514

In [50]:
#Write a Python code to print the following string in a specific format (see the
fmtStr1 = """Twinkle, twinkle, little star,
    How I wonder what you are!
        Up above the world so high,
            Like a diamond in the sky."""

fmtStr2 = "Twinkle, twinkle, little star,\n\tHow I wonder what you are!\n\t\tUp above the world so high,\n\t\t\tLike a diamond in the sky."
print(fmtStr1)
print(fmtStr2)

Twinkle, twinkle, little star,
    How I wonder what you are!
        Up above the world so high,
            Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
			Like a diamond in the sky.

In [44]:
#Givin the following string variable, # Print the first element in the string
course="Python for Data Science"
print(course[0])

# Print the element on the 13th index in the string
print(course[13])

# Find the length of string
print(len(course))

# Print the last element in the string [use negative index]
print(course[-1])

# Take the slice on variable course with only index 11 to index 14
print(course[11:15])

# Get every third element in the range from index 0 to index 20
print(course[0:21:3])

P
t
23
e
Data
Ph ra i

In [45]:
# Concatenate course string with ", AI & Development"
print(course)
course = course + ", AI & Development"
print(course)

# Replace all the spaces with (_). New string should looks like"Python_for_Data_S
course = course.replace(" ", "_")
print(course)

# Convert all the characters in string to upper case
course = course.upper()
print(course)

Python for Data Science
Python for Data Science, AI & Development
Python_for_Data_Science,_AI_&_Development
PYTHON_FOR_DATA_SCIENCE,_AI_&_DEVELOPMENT